@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/pine';

@custom-variant dark (&:where([data-mode=dark], [data-mode=dark] *));

:global(body) {
	@apply bg-slate-100 text-slate-800;
}
